{% extends 'admit01/event_base.html' %}


{% block main %}
{% load staticfiles %}
<main>
	<div class="container-fluid mb-4"  style="height: 300px;
	background-image: url('{% static 'admit01/images/event_home.jpg' %}'); background-size: cover;
	background-position: center center;">
		<div class="row align-items-end" style="height: 100%">
			<section class="col-12 rale-heading text-center
			" style="color: white">
				<h1 style="font-size: 60px">List Your Event and Sell Tickets</h1>
			</section>
		</div>
	</div><!-- event headline container -->
</main>
{% endblock %}