
{% extends 'admit01/base.html' %}

{% block main %}
{% load staticfiles %}
<main>
	<div class="container-fluid" style="min-height: 200px;
	background-image: url('{% static 'admit01/images/stock_tickets.png' %}');">
		<div class="row" style="height: 100%;  color: white;">
			<section class="rale-heading col-12 col-sm-3" style="border: 2px solid #c8c8c8;
			border-style: dotted none none none;
			padding: 10px; height: 100%;">
				<h3>Buy Tickets for all your Favorite Events</h3>
			</section>
			<section class="rale-heading col-12 col-sm-3" style="border: 2px solid #c8c8c8;
			border-style: dotted none none none;
			padding: 10px; height: 100%">
				<h3>List your own event and sell tickets with us</h3>
			</section>
			<section class="rale-heading col-12 col-sm-3" style="border: 2px solid #c8c8c8;
			border-style: dotted none none none;
			padding: 10px; height: 100%">
				<h3>Buy and Re-Sell tickets on our Secure Re-Sale Market</h3>
			</section>
			<section class="rale-heading col-12 col-sm-3" style="border: 2px solid #c8c8c8;
			border-style: dotted none none none;
			padding: 10px; height: 100%">
				<h3>Explore Events Near You</h3>
			</section>
		</div><!-- row -->
	</div><!-- things to do container -->

</main>
{% endblock %}