{% load staticfiles %}
<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    </head>
    
    <body>
        <nav class="navbar navbar-dark bg-dark">
            <a class="navbar-brand" href="{% url 'home' %}">Admit01</a>
            <div class="">
                <ul class="navbar-nav mr-auto">
                    {% if not request.user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'login' %}">Login</a>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        {% if userType == "venue" %}
                        <a class="navbar-text" href="{% url 'venue' userClass.id %}">{{ userClass.name }}</a>
                        {% elif userType == "customer" %}
                        <a class="navbar-text" href="{% url 'list-customer-tickets' %}">{{ userClass.name }}</a>
                        {% else %}
                        <span class="text-muted">Superuser</span>
                        {% endif %}
                    </li>
                    <li class="nav-item">
                        <a class="navbar-text" href="{% url 'logout' %}">Logout</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </nav>

        <div class="container">
            <br />
            {% if messages %}
                {% for message in messages %}
                <div class="alert alert-{% if message.tags == 'error' %}danger{% else %}{{ message.tags }}{% endif %}">
                        {{ message }}
                        <a class="close" data-dismiss="alert">&#10006;</a>
                    </div>
                {% endfor %}
            {% endif %}

            {% block content %}
            {% endblock %}

            <hr />
            <div class="row">
                <div class="col-md-12">
                    <p class="text-center">
                        © 2018 Admit01
                    </p>
                </div>
            </div>
        {% block end_js %}
        {% endblock %}
    </body>
</html>
