{% extends "base.html" %}

{% block content %}
<h1>{{ event.name }}</h1>
<p>{{ event.description }}</p>

<h2>Tickets</h2>
{% if userType == "venue" %}
    {% for ticket in tickets %}
        <h3>{{ ticket.seat.section }}</h3>
        <h7>(Ticket number: {{ ticket.ticket_num }})</h7>
        <h5>Row: {{ ticket.seat.row }}</h5>
        <h5>Seat Number: {{ ticket.seat.seat_no }}</h5>
        <h5 class="text-danger">Price: {{ ticket.face_value }}</h5>
        {% if not ticket.for_sale %}
        <p><a href="{% url 'list-ticket' event_id=event.pk ticket_num=ticket.ticket_num %}">List</a></p>
        {% else %}
        <p class="text-success">Listed</p>
        {% endif %}
        <hr />
    {% endfor %}
{% else %}
    {% for ticket in tickets %}
        {% if ticket.for_sale %}
        <h3>{{ ticket.seat.section }}</h3>
        <h7>(Ticket number: {{ ticket.ticket_num }})</h7>
        <h5>Row: {{ ticket.seat.row }}</h5>
        <h5>Seat Number: {{ ticket.seat.seat_no }}</h5>

        <p><a href="{% url 'buy-ticket' event.pk ticket.ticket_num %}">Buy Ticket</a></p>
        <p><a href="/customers/upgrade_ticket/{{ event.pk }}/{{ ticket.ticket_num }} ">Upgrade to this ticket.</a></p>

        <hr />
        {% endif %}
    {% endfor %}

{% endif %}
{% endblock %}
