{% extends "base.html" %}

{% block content %}
<h2>My tickets</h2>

{% if tickets %}
    {% for ticket in tickets %}
    <div class="card">
        <div class="card-body">
            <h3 class="card-title">{{ ticket.event_info.name }}</h3>
            <h4 class="card-subtitle mb-2 text-muted">{{ ticket.venue.venue_name }}</h4>
            <h4 class="card-subtitle mb-2 text-muted">{{ ticket.venue.venue_location }}</h4>
            {% if not ticket.for_sale %}
            <a href="{% url 'list-customer-ticket' ticket.event_id ticket.ticket_num %}" class="card-link">List</a>
            {% else %}
            <p class="text-success">Listed</p> 
            {% endif %}
        </div>
    </div>
    {% endfor %}
{% else %}
<p>You have not purchased any tickets.</p>
{% endif %}

{% endblock %}
